<h1><%= title %></h1>
<br/>
<div class="error">
    {{#if error}}
      <p>{{error}}</p>
    {{/if}}
  </div>

<div width="100%" height="auto">
    <img src="<%= image %>" width="100%" >
</div>

<!-- https://www.pexels.com/photo/bay-beach-bicycle-clouds-349727/-->
