<h1>COVID-19 Blog Posts</h1>

<div class="embed-responsive embed-responsive-16by9">
    <iframe 
        sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
        width="560" height="315" src="https://www.youtube.com/embed/LYHKIkjDYfg"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>
<br/>

<div class="embed-responsive embed-responsive-16by9">
    <iframe 
        sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
        width="560" height="315" src="https://www.youtube.com/embed/MMBh-eo3tvE" 
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
</div>
<br/>

<div class="embed-responsive embed-responsive-16by9">
    <iframe 
        sandbox="allow-same-origin allow-scripts allow-popups allow-forms"        
        width="560" height="315" 
        src="https://www.youtube.com/embed/wdcS0Nbo7Ng"
        frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
</div>
