<h1 class="mt-4">COVID-19</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>

<h2>Here is What We Know . . . . </h2>

<p>If your home is not where we think it is |-> go =>to settings =>check your own details => change details</p>
<p>move the marker on the map save details |-> your good to go . . . . . . </p>
<br/>
<h5>Go to the map to find stores within 2km of your home</h5>
