<h1 class="mt-4">COVID-19</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>

<h2>Here is What We Know . . . . </h2>
<div class="row">
    <div class="col">
        <img src="/images/dontpanic.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col">        
        <img src="/images/scales.jpg" class="img-fluid" alt="Responsive image">
   </div>      
</div>

<p>If your home is not where we think it is |-> go =>to settings =>check your own details => change details</p>
<p>move the marker on the map save details |-> your good to go . . . . . . </p>
<br/>
<h5>Go to the map to find stores within 2km of your home</h5>
<br/>
 
<div>
    <img src="/images/planb.jpg" class="rounded" alt="...">
  </div>


