<h1 class="mt-4">Add Store to Map</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<p class="lead mb-3">Enter Store Details</p>
<% include ./partials/messages %>

<form action="/location/new_location/" method="POST">
  <div class="form-group">
    <label for="storename">Store Name</label>    
    <input id="storename1" placeholder="Store Name" 
                            autocapitalize="off"
                            autocorrect="off"
                            autocomplete="off"
                            spellcheck="false" class="form-control" name="name" required />
  </div>
  <div class="form-group">
    <label for="storeaddress">Address</label>    
    <textarea id="storeaddress1" name="address" required autocomplete="off" placeholder= "Road Area City"  class="form-control" rows="4" cols="60"></textarea>
  </div>
  <input type="hidden" name="addedBy" value="<%= user.role %>"/>
  <button type="submit" class="btn btn-primary ">Add Store</button>
</form>
